.toolbar-item {
  width: 50px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  outline: 1px solid #D4D4D4;
  outline-offset: -1px;
  border-radius: 5px;
}

.toolbar-item-active {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.toolbar-item-noactive > svg > path {
  fill: #cccccc;
}

.toolbar-item-active:hover {
  background: #E9E9E9;
}

.toolbar-item-active:active {
  transition: none;
  background: #D9D9D9;
}