.header {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, #0DF 0%, #B352FF 100%);
}

.equal-block-wrapper {
  display: flex;
  align-items: center;
  width: 400px;
}

.equal-block-wrapper-start {
  justify-content: flex-start;
}

.equal-block-wrapper-end {
  justify-content: flex-end;
}

.logo {
  margin-right: 20px;
}
